<h1>Donation menu</h1>
<br>
<h2>Sent donations</h2>

<p><%= @total_given_dollars %>$ to <%= @total_given_project %> projects</p>
<p>Your <%= @total_created_project %> projects have received <%= @total_received_dollars %> $ in total</p>
