
<div class="devise-container">
  <h2>Please give a lot!</h2>
  <%= simple_form_for([@project, @donation]) do |f| %>
 <% if @donation.errors.any? %>
    <div class="error-container">
      <ul>
        <% @donation.errors.full_message each do |message|  %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :amount %>
  <%= f.submit 'gibe', class: "btn btn-create"%>
<% end %>

</div>
