<div class="flexbox-class">
    <form action="/search" method="get">
      <input type="text" name="query" class = "search-field">
      <input type="submit" value="Search Projects" class = "search-button" >
    </form>
  </div>
