.donation-card {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
    height: 100px;
    margin: 20px 80px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.donation-card-name {
  font-size: 24px;
}
.donation-card-amount {
  padding-left: 5px;
}
.donation-card-status {
  padding-left: 5px;
}

.donation-card-accept {
  background-color: #b6f27b;
}

.donation-card-decline{
  background-color: #f44253;
}

.project-donation-row {
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;
    background-color: white;
}

.project-donation-row {
  margin-bottom: 5px;
}
