.banner {
 color: white;
 text-align: center;
 height: 50vh;
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 display: flex;
 align-items: center;
 justify-content: center;
}
.banner h1 {
 font-size: 50px;
 font-weight: bold;
 text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
 font-size: 25px;
 font-weight: lighter;
 color: rgb(255, 255, 255);
 opacity: 0.6;
 margin-bottom: 30px;
}
.container-prof {
 display:flex;
 justify-content:center;
}
.container-prof > div {
 margin:10px;
 background-color:#ffffff;
}
.first, .second, .third {
 height: 300px;
 width:33%;
 text-align: center;
}

